/* reset the css first */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  /* Original font size, also 16px = 1 em  */
  /* font-size: 16px; */
}

body {
  display: flex;
  flex-direction: row;
}

.containerInfo {
  text-align: center;
}
.container {
  border: 1px solid MediumVioletRed;
}

.left.inner {
  height: 160px;
  /* width: max(70px 160px 100%); */
  font-size: 0.8em;
}

.yellow_bg {
  background-color: yellow;
}

#left_2nd_sub_main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#left_3rd_sub_main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.leftside.container {
  width: 35%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.left.submain {
  display: flex;
  flex-direction: row;
}

.rightside.container {
  width: 65%;
  height: 100vh;
}

.first.left.inner,
.second.left.inner {
  width: 100%;
}

.third.left.inner,
.fourth.left.inner {
  min-width: 120px;
}

.fifth.left.inner,
.sixth.left.inner {
  width: max(100px, 35%); */
  /* min-width: 100px; */
}
