@font-face {
  font-family: "Fira Sans";
  src:
    url("fonts/FiraSans-Regular.woff2") format("woff2"),
    url("fonts/FiraSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Alex Brush";
  src:
    url("fonts/AlexBrush-Regular.woff2") format("woff2"),
    url("fonts/AlexBrush-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
