/* General setup */
@font-face {
  font-family: "Alex Brush";
  src:
    url("fonts/AlexBrush-Regular.woff2") format("woff2"),
    url("fonts/AlexBrush-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Fira Sans";
  src:
    url("fonts/FiraSans-Regular.woff2") format("woff2"),
    url("fonts/FiraSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.roboto-slab-google {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

* {
  font-family: "Alex Brush", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Fira Sans", sans-serif;
}

p {
  font-family: "Roboto Slab", serif;
}

html {
  font-size: 10px;
  margin: 0;
  font-family: sans-serif;
}

body {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
}

/* Typography */

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.4rem;
}

p {
  font-size: 1.4rem;
  line-height: 1.6;
  word-spacing: 0.6rem;
}
